<!DOCTYPE html>
<html lang="ro">

<head>
  <meta charset="UTF-8" />
  <title>
    <%= titlu %>
  </title>
  <link rel="stylesheet" href="/resourses/css/error.css" />
</head>

<body class="error-page">
  <h1>
    <%= titlu %>
  </h1>
  <p>
    <%= text %>
  </p>
</body>

</html>