<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Us | Davidious</title>
    <%- include("../fragmente/head.ejs") %>
</head>

<body>
    <%- include("../fragmente/header.ejs") %>

        <main>
            <section class="about-page-container">
                <h1 class="about-title">About us</h1>
                <div class="about-content">
                    <p>This is the virtual site of our company, created for trading demonstrations.</p>
                    <p>Founded in 2024, Davidious aims to democratize stock trading with zero‑commission tools and
                        real‑time data.</p>
                </div>
            </section>
        </main>

        <%- include("../fragmente/footer.ejs") %>
</body>

</html>