 <footer>
        <section id="contacts">
                <h2>Contact Information</h2>

                <p>Phone: 
                    <a href="tel:+40757480815">+40757480815</a>
                </p>

                <p>Address:</p>
                <a href="https://maps.app.goo.gl/e8SKK86uQPeAhxJm6" target="_blank">
                    Strada Acaemiei 14<br>
                    Sector 1<br>
                    Bucharest, Romania
                </a>

                <p>Email: 
                    <a href="mailto:2005dawut55@gmail.com">2005dawut55@gmail.com</a>
                </p>

                <p>WhatsApp Chat: 
                    <a href="https://wa.me/0757480815" target="_blank">Chat with us on Whatsapp</a>
                </p>
        </section>

        <small>
            &copy; 2026 Davidious Corporation. Page created on 
            <time datetime="2026-03-06">March 6, 2026</time>.
        </small>
        <p>
            <a href="#top">Back to top</a>
        </p>        
    </footer>