<header id="top">
    <h1>Davidious Stock Trading Platform</h1>

    <nav>
        <ul>
            <li>
                <a href="index.html">Home</a>
                    <ul>
                        <li><a href="#about">About</a></li>
                        <li><a href="#stocks">Stocks</a></li>
                        <li><a href="#learn">Learn</a></li>
                    </ul>
            </li>
            <li><a href="#profile">Stocks</a></li>
            <li><a href="#Why_Davidious">Why Davidious</a></li>
            <li><a href="#events">Events</a></li>
            <li><a href="#contacts">Contacts</a></li>
        </ul>
    </nav>
</header>